body {
  overflow: hidden;
}
#particles-js {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='240' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='0.6' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");

  height: 100vh;
}
.contan {
  transform: translate(-50%, -50%);
}
.title {
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-bottom: 50px;
  width: fit-content;
  outline: 100px;
}
.title h2 {
  padding: 15px;
  background-image: linear-gradient(30deg, #eee, #fff);
  border-radius: inherit;
  margin: 5px;
}
.title::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: -5px;
  top: -5px;
  transform: scale(2) translate(-50%, -50%);
  scale: 1.1;
  background-image: conic-gradient(#fc5130, #613dc1);
  animation: spinning 6s infinite linear;
  z-index: -1;
  border-radius: inherit;
}
@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  75% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.iner  {
  border-radius: 20px;
  padding: 5px ;
}
h5 {
  color: #100404a1;
}
.Chose {
  border: 0px;
  outline: 0;
}
.question {
  background-color: transparent;
}
ul li {
  background-color:aliceblue;
  font-size: 20px;
  /* width: fit-content; */
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px;
  color: #613dc1;
  border-radius: 20px;
  border: 1px solid ;
  transition: .6s;
}
ul li:hover {
  background-color: #613dc1;
  color: aliceblue;
}
.correct,
.correct:hover {
  background-color: #7cb518 !important;
  color: #fff !important;
}
.wrong,
.wrong:hover {
  background-color: #bf0603 !important;
  color: #fff !important;
}